/* BASE */
@import '/fonts/nekst/stylesheet.css';
/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
@-webkit-keyframes boxShadowButton {
  from {
    -webkit-box-shadow: 0 0 0 rgb(136, 84, 221);
            box-shadow: 0 0 0 rgb(136, 84, 221);
  }
  to {
    -webkit-box-shadow: 0 0 20px #ffffff;
            box-shadow: 0 0 20px #ffffff;
  }
}
@keyframes boxShadowButton {
  from {
    -webkit-box-shadow: 0 0 0 rgb(136, 84, 221);
            box-shadow: 0 0 0 rgb(136, 84, 221);
  }
  to {
    -webkit-box-shadow: 0 0 20px #ffffff;
            box-shadow: 0 0 20px #ffffff;
  }
}
@-webkit-keyframes headerButton {
  from {
    -webkit-transform: translate(-50%, -180%);
            transform: translate(-50%, -180%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
    opacity: 1;
  }
}
@keyframes headerButton {
  from {
    -webkit-transform: translate(-50%, -180%);
            transform: translate(-50%, -180%);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
    opacity: 1;
  }
}
@-webkit-keyframes headerButtonReverse {
  from {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -180%);
            transform: translate(-50%, -180%);
    opacity: 0;
  }
}
@keyframes headerButtonReverse {
  from {
    -webkit-transform: translate(-50%, -85%);
            transform: translate(-50%, -85%);
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -180%);
            transform: translate(-50%, -180%);
    opacity: 0;
  }
}
@-webkit-keyframes circleAnimationHeader {
  from {
    height: 83px;
    width: 83px;
  }
  to {
    height: 150px;
    width: 150px;
  }
}
@keyframes circleAnimationHeader {
  from {
    height: 83px;
    width: 83px;
  }
  to {
    height: 150px;
    width: 150px;
  }
}
@-webkit-keyframes circleAnimationHeaderReverse {
  from {
    height: 150px;
    width: 150px;
  }
  to {
    height: 83px;
    width: 83px;
  }
}
@keyframes circleAnimationHeaderReverse {
  from {
    height: 150px;
    width: 150px;
  }
  to {
    height: 83px;
    width: 83px;
  }
}
@-webkit-keyframes boxShadowVideo {
  from {
    -webkit-box-shadow: 0 0 0 rgb(136, 84, 221);
            box-shadow: 0 0 0 rgb(136, 84, 221);
  }
  to {
    -webkit-box-shadow: 0 0 5px rgb(136, 84, 221);
            box-shadow: 0 0 5px rgb(136, 84, 221);
  }
}
@keyframes boxShadowVideo {
  from {
    -webkit-box-shadow: 0 0 0 rgb(136, 84, 221);
            box-shadow: 0 0 0 rgb(136, 84, 221);
  }
  to {
    -webkit-box-shadow: 0 0 5px rgb(136, 84, 221);
            box-shadow: 0 0 5px rgb(136, 84, 221);
  }
}
@-webkit-keyframes boxShadowVideoReverse {
  from {
    -webkit-box-shadow: 0 0 5px rgb(136, 84, 221);
            box-shadow: 0 0 5px rgb(136, 84, 221);
  }
  to {
    -webkit-box-shadow: 0 0 0 rgb(136, 84, 221);
            box-shadow: 0 0 0 rgb(136, 84, 221);
  }
}
@keyframes boxShadowVideoReverse {
  from {
    -webkit-box-shadow: 0 0 5px rgb(136, 84, 221);
            box-shadow: 0 0 5px rgb(136, 84, 221);
  }
  to {
    -webkit-box-shadow: 0 0 0 rgb(136, 84, 221);
            box-shadow: 0 0 0 rgb(136, 84, 221);
  }
}
@-webkit-keyframes frameManage {
  from {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
  }
}
@keyframes frameManage {
  from {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    visibility: hidden;
    opacity: 0;
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes frameManageReverse {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes frameManageReverse {
  from {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 1;
  }
  to {
    -webkit-transform: translate(-50%, -30%);
            transform: translate(-50%, -30%);
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes overlayVideo {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes overlayVideo {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@-webkit-keyframes overlayVideoReverse {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes overlayVideoReverse {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes buttonCircle {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes buttonCircle {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes buttonCircleReverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes buttonCircleReverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@-webkit-keyframes buttonArrow {
  from {
    opacity: 0;
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }
}
@keyframes buttonArrow {
  from {
    opacity: 0;
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }
}
@-webkit-keyframes buttonArrowReverse {
  from {
    opacity: 1;
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
}
@keyframes buttonArrowReverse {
  from {
    opacity: 1;
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Nekst", serif;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.default__cover {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.default__cover_security {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 20px 0;
}

.default__title {
  margin-left: 42px;
}

.default__subtitle {
  margin-right: 42px;
}
.default__subtitle_trade {
  margin-left: auto;
  margin-top: 20px;
}

.default__substract {
  position: absolute;
  top: 0;
}

.card_title {
  margin-bottom: 38px;
}

.card_image {
  margin-bottom: 130px;
}

.card_ .overlay_video {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.container {
  max-width: 1580px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  font-size: 102px;
  font-weight: 400;
  line-height: 98%;
}

.title2 {
  background: linear-gradient(165.43deg, rgb(255, 255, 255), rgb(95, 41, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 130px;
  font-weight: 400;
  line-height: 93%;
}
.title2_numbers {
  font-size: 250px;
  font-weight: 400;
  line-height: 93%;
}
.title2_trade {
  background: unset;
  -webkit-text-fill-color: unset;
}

.title3 {
  font-size: 90px;
  font-weight: 400;
}
.title3_partners {
  line-height: 65%;
}
.title3_work {
  background: linear-gradient(165.43deg, rgb(255, 255, 255), rgb(95, 41, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  line-height: 103%;
  padding-left: 20px;
  padding-top: 20px;
}
.title3_test {
  background: linear-gradient(148.39deg, rgb(255, 255, 255), rgb(95, 41, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 100px;
  font-weight: 400;
  line-height: 93%;
}

.title4 {
  background: linear-gradient(163.61deg, rgb(255, 255, 255), rgb(95, 41, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 70px;
  font-weight: 400;
  line-height: 113%;
}
.title4_manage {
  text-align: center;
}

.title5_default {
  font-size: 60px;
  font-weight: 400;
  line-height: 93%;
}

.title6 {
  font-size: 34px;
  font-weight: 400;
  line-height: 93%;
}

.subtitle_info {
  font-size: 30px;
  font-weight: 400;
  line-height: 113%;
}
.subtitle_info span {
  background-color: rgb(136, 84, 221);
  border-radius: 10px;
  padding: 0 5px;
}
.subtitle_default {
  color: rgb(145, 145, 145);
  font-size: 15px;
  font-weight: 400;
  line-height: 103%;
}
.subtitle_numbers {
  font-size: 40px;
  font-weight: 400;
  line-height: 103%;
}
.subtitle_features {
  font-size: 35px;
  font-weight: 400;
  line-height: 108%;
  color: #ffffff;
}
.subtitle_features span {
  color: rgb(123, 112, 141);
}
.subtitle_partners {
  font-size: 30px;
  font-weight: 400;
  line-height: 100%;
  opacity: 0.5;
}
.subtitle_work {
  color: rgb(183, 177, 196);
  font-size: 16px;
  font-weight: 300;
  line-height: 125%;
}
.subtitle_trade {
  font-size: 30px;
  font-weight: 400;
  line-height: 120%;
}
.subtitle_security {
  font-size: 15px;
  font-weight: 400;
  line-height: 135%;
}

.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #000;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header {
  background-image: url(/content/header/headerBg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 111px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  color: #ffffff;
  font-family: "Nekst", serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 99%;
}

.header__logotype {
  margin-right: 155px;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  margin-right: 196px;
}
.header__lang img {
  margin-top: 4px;
}

.header__nav {
  margin-right: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.header__link:hover {
  color: rgb(136, 84, 221);
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.header__button img {
  margin-top: 4px;
}
.header__button svg path {
  -webkit-transition: stroke 0.2s linear;
  transition: stroke 0.2s linear;
}
.header__button:hover svg path {
  stroke: rgb(136, 84, 221);
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__title {
  max-width: 765px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.info__subtitle {
  max-width: 400px;
}

.info__button {
  position: relative;
  border: 2px solid rgb(136, 84, 221);
  height: 83px;
  width: 83px;
  border-radius: 50%;
  margin-top: 20px;
  -webkit-animation: boxShadowButton 1s ease-in alternate infinite;
          animation: boxShadowButton 1s ease-in alternate infinite;
}
.info__button .info__button_arrow {
  content: url(/content/header/arrowButton.svg);
  position: absolute;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -180%);
          transform: translate(-50%, -180%);
}
.info__button .info__button_circle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  height: 83px;
  width: 83px;
  border-radius: 50%;
  border: 1px solid rgb(136, 84, 221);
  -webkit-box-shadow: 0 0 5px rgb(136, 84, 221);
          box-shadow: 0 0 5px rgb(136, 84, 221);
  opacity: 0.5;
}

.arrowAnimationHeaderButton {
  -webkit-animation: headerButton 0.5s ease-out forwards;
          animation: headerButton 0.5s ease-out forwards;
}

.arrowAnimationHeaderButtonReverse {
  -webkit-animation: headerButtonReverse 0.5s ease-out forwards;
          animation: headerButtonReverse 0.5s ease-out forwards;
}

.circleAnimationHeaderButtom {
  -webkit-animation: circleAnimationHeader 0.5s ease-out forwards;
          animation: circleAnimationHeader 0.5s ease-out forwards;
}

.circleAnimationHeaderReverse {
  -webkit-animation: circleAnimationHeaderReverse 0.5s ease-out forwards;
          animation: circleAnimationHeaderReverse 0.5s ease-out forwards;
}

.header__sponsors {
  margin-top: 173px;
}
.header__sponsors ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.header__sponsors li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  background: rgb(14, 9, 21);
  max-width: 256px;
  height: 100px;
  width: 100%;
}
.header__sponsors li:last-child {
  position: relative;
}
.header__sponsors li:last-child img {
  opacity: 0.5;
}
.header__sponsors li:last-child::after {
  content: "Soon";
  position: absolute;
  right: 18px;
  top: 14px;
  border-radius: 8px;
  background: rgb(81, 50, 133);
  padding: 3px 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 113%;
}

.manage {
  padding: 93px 0 39px;
  border-radius: 40px 40px 0 0;
  -webkit-box-shadow: 0 -10px 10px rgb(136, 84, 221);
          box-shadow: 0 -10px 10px rgb(136, 84, 221);
}

.manage__title {
  max-width: 1038px;
  margin: 0 auto;
}

.manage__video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  max-width: 1030px;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
}
.manage__video img {
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.manage__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(90, 47, 237)), to(rgb(143, 0, 255)));
  background: linear-gradient(180deg, rgb(90, 47, 237), rgb(143, 0, 255) 100%);
  width: 90px;
  height: 90px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.manage__button img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 1;
  padding-left: 6px;
}
.manage__button:hover {
  -webkit-box-shadow: 0 0 10px rgb(136, 84, 221);
          box-shadow: 0 0 10px rgb(136, 84, 221);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.manageVideoAnimation {
  -webkit-animation: boxShadowVideo 0.1s linear forwards;
          animation: boxShadowVideo 0.1s linear forwards;
}

.manageVideoAnimationReverse {
  -webkit-animation: boxShadowVideoReverse 0.1s linear forwards;
          animation: boxShadowVideoReverse 0.1s linear forwards;
}

.manage__frame {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.manageFrameAnimation {
  -webkit-animation: frameManage 0.5s ease-out forwards;
          animation: frameManage 0.5s ease-out forwards;
}

.manageFrameAnimationReverse {
  -webkit-animation: frameManageReverse 0.5s ease-out forwards;
          animation: frameManageReverse 0.5s ease-out forwards;
}

.overlayVideo {
  -webkit-animation: overlayVideo 0.5s ease-out forwards;
          animation: overlayVideo 0.5s ease-out forwards;
}

.overlayVideoReverse {
  -webkit-animation: overlayVideoReverse 0.5s ease-out forwards;
          animation: overlayVideoReverse 0.5s ease-out forwards;
}

.numbers {
  position: relative;
  padding-bottom: 130px;
}

.numbers__text {
  margin-top: 72px;
}

.numbers__title {
  margin-bottom: 21px;
}

.numbers__subtitle {
  margin-bottom: 281px;
}

.numbers__span {
  color: #6e647d;
  font-size: 15px;
  font-weight: 400;
  line-height: 103%;
  letter-spacing: -4%;
  text-align: left;
}

.numbers__bg {
  position: absolute;
  left: 0;
  top: 240px;
  z-index: -1;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.numbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}

.numbers__item {
  border: 1px solid rgb(136, 84, 221);
  border-radius: 40px;
  padding: 42px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 100px;
}

.numbers__traiders {
  font-size: 80px;
  font-weight: 400;
  line-height: 93%;
}

.traiders__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 103%;
}

.numbers__deals {
  font-size: 80px;
  font-weight: 400;
  line-height: 93%;
}

.deals__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 103%;
}

.features {
  padding-bottom: 220px;
}
.features .features__row:nth-child(1) {
  margin-bottom: 240px;
}
.features .features__row:nth-child(2) {
  margin-bottom: 200px;
}
.features .features__row:nth-child(3) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.features__col {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__row:nth-child(2) .features__subtitle {
  max-width: 570px;
}
.features__row:nth-child(3) .features__subtitle {
  max-width: 414px;
}

.features__info {
  position: relative;
  max-width: 776px;
  padding: 30px 30px 0 0;
}

.features__substract {
  position: absolute;
  top: 0;
}

.features__title {
  margin-bottom: 100px;
}

.features__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__play {
  max-width: 200px;
}

.features__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(90, 47, 237)), to(rgb(143, 0, 255)));
  background: linear-gradient(180deg, rgb(90, 47, 237), rgb(143, 0, 255) 100%);
  width: 64px;
  height: 64px;
  margin-top: 37px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.features__button img {
  padding-left: 6px;
}
.features__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0 5px rgb(136, 84, 221);
          box-shadow: 0 0 5px rgb(136, 84, 221);
}

.features__subtitle-span {
  max-width: 356px;
}

.subtitle_features-span {
  color: rgb(183, 177, 196);
  font-size: 18px;
  font-weight: 300;
  line-height: 103%;
}

.work {
  padding: 40px 0 140px;
  -webkit-box-shadow: 0 -10px 10px rgb(136, 84, 221);
          box-shadow: 0 -10px 10px rgb(136, 84, 221);
  border-radius: 40px 40px 0 0;
}

.work__title {
  position: relative;
}

.work__substract {
  position: absolute;
  top: 0;
}

.mySwiper_work {
  margin-left: 15% !important;
  margin-top: 70px;
}

.swiper-wrapper_work {
  margin-bottom: 50px;
}

.swiper-slide_work {
  border: 1px solid rgb(64, 46, 92);
  border-radius: 40px;
  height: initial !important;
  padding: 49px 39px 30px;
  opacity: 0.7;
}

.swiper-scrollbar-drag {
  background-color: rgb(64, 46, 92) !important;
}

.swiper__wrapper_buttons_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
}

.swiper-button_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 94px;
  height: 94px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 70px;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}
.swiper-button_work:hover {
  width: 195px;
}

.trade {
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 80px;
}
.trade::before {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 452%;
  -webkit-box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.trade__title {
  padding-left: 20px;
  padding-top: 20px;
  margin-bottom: 170px;
}

.trade__subtitle {
  max-width: 350px;
  padding-left: 30px;
  margin-bottom: 100px;
}

.trade__button_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trade__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  border-radius: 70px;
  background: rgb(95, 41, 183);
  padding: 24px;
  font-size: 45px;
  font-weight: 400;
  line-height: 93%;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
}
.trade__button:hover {
  -webkit-box-shadow: 0 0 10px rgb(136, 84, 221);
          box-shadow: 0 0 10px rgb(136, 84, 221);
}

.trade__button-circle {
  position: relative;
  width: 83px;
  height: 83px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
}

.trade__button_arrow {
  position: absolute;
  opacity: 0;
  left: -50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.trade_bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.createCircleAnimation {
  -webkit-animation: buttonCircle 0.5s ease-out forwards;
          animation: buttonCircle 0.5s ease-out forwards;
}

.createCircleAnimationReverse {
  -webkit-animation: buttonCircleReverse 0.5s ease-out forwards;
          animation: buttonCircleReverse 0.5s ease-out forwards;
}

.createArrowAnimation {
  -webkit-animation: buttonArrow 0.5s ease-out forwards;
          animation: buttonArrow 0.5s ease-out forwards;
}

.createArrowAnimationReverse {
  -webkit-animation: buttonArrowReverse 0.5s ease-out forwards;
          animation: buttonArrowReverse 0.5s ease-out forwards;
}

.security {
  padding-bottom: 100px;
}

.security__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.security__image {
  margin-bottom: unset;
}

.security_subtitle {
  margin-top: auto;
}

.security__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.security__card {
  border: 1px solid rgb(64, 46, 92);
  border-radius: 40px;
  padding: 49px 39px 30px;
  max-width: 300px;
  max-height: 430px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.partners {
  background: -webkit-gradient(linear, right top, left bottom, from(rgb(212, 204, 244)), to(rgb(95, 41, 183)));
  background: linear-gradient(to bottom left, rgb(212, 204, 244) 0%, rgb(95, 41, 183));
  padding: 50px 0 130px;
  border-radius: 40px;
}

.partners__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 270px;
     -moz-column-gap: 270px;
          column-gap: 270px;
  margin-bottom: 140px;
}

.partners__substract {
  position: absolute;
  top: -20px;
  z-index: 0;
}

.partners__title {
  margin-left: 20px;
}

.partners__subtitle {
  max-width: 500px;
}

.partners__list {
  max-width: 1314px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.partners__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgb(180, 150, 238);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.test {
  position: relative;
  padding: 160px 0 100px;
}

.test__bg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.test__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.test__title {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 250px;
}

.test__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  border-radius: 70px;
  background: rgb(95, 41, 183);
  padding: 24px;
  font-size: 45px;
  font-weight: 400;
  line-height: 93%;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
}
.test__button:hover {
  -webkit-box-shadow: 0 0 10px rgb(136, 84, 221);
          box-shadow: 0 0 10px rgb(136, 84, 221);
}

.test__button-circle {
  position: relative;
  width: 83px;
  height: 83px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  opacity: 0.5;
}

.test__button_arrow {
  position: absolute;
  opacity: 0;
  left: -50%;
  top: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.createCircleAnimation {
  -webkit-animation: buttonCircle 0.5s ease-out forwards;
          animation: buttonCircle 0.5s ease-out forwards;
}

.createCircleAnimationReverse {
  -webkit-animation: buttonCircleReverse 0.5s ease-out forwards;
          animation: buttonCircleReverse 0.5s ease-out forwards;
}

.createArrowAnimation {
  -webkit-animation: buttonArrow 0.5s ease-out forwards;
          animation: buttonArrow 0.5s ease-out forwards;
}

.createArrowAnimationReverse {
  -webkit-animation: buttonArrowReverse 0.5s ease-out forwards;
          animation: buttonArrowReverse 0.5s ease-out forwards;
}

.footer {
  padding: 36px 0 63px;
  border-radius: 40px 40px 0 0;
  background-color: #15141a;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__socials span {
  color: rgb(143, 136, 154);
  font-size: 17px;
  font-weight: 400;
  line-height: 100%;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 30px;
  margin-bottom: auto;
}

.socials__email {
  color: rgb(255, 255, 255) !important;
}

.socials_link:hover svg path {
  -webkit-transition: fill 0.2s linear;
  transition: fill 0.2s linear;
}

.socials_link:hover svg path {
  fill: rgb(136, 84, 221);
}

.tg-chat {
  position: relative;
}
.tg-chat::after {
  content: "chat";
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  z-index: 2;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
}

.tg-channel {
  position: relative;
}
.tg-channel::after {
  content: "channel";
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  z-index: 2;
  font-size: 10px;
  font-weight: 400;
  line-height: 100%;
}

.footer__documents strong,
.footer__platform strong {
  font-size: 23px;
  font-weight: 400;
  line-height: 99%;
}
.footer__documents ul,
.footer__platform ul {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.footer__documents li,
.footer__platform li {
  color: rgb(143, 136, 154);
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
}

.footer__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.footer__account a {
  font-size: 23px;
  font-weight: 400;
  line-height: 99%;
}

/* BLOCK */