.features__row {
  display: flex;
  justify-content: space-between;
  &:nth-child(2) {
    .features__subtitle {
      max-width: 570px;
    }
  }

  &:nth-child(3) {
    .features__subtitle {
      max-width: 414px;
    }
  }
}

.features__image {
}
.features__info {
  position: relative;
  max-width: 776px;

  padding: 30px 30px 0 0;
}

.features__substract {
  position: absolute;
  top: 0;
}
.features__title {
  margin-bottom: clamp(30px, 0.284rem + 7.95vw, 100px);
}
.title2 {
}
.title2_features {
}
.features__text {
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 20px;
}
.features__play {
  max-width: 200px;
}
.features__button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: linear-gradient(180deg, rgb(90, 47, 237), rgb(143, 0, 255) 100%);

  width: clamp(30px, 1.102rem + 3.86vw, 64px);
  height: clamp(30px, 1.102rem + 3.86vw, 64px);

  margin-top: 37px;

  img {
    width: clamp(20px, 1.023rem + 1.14vw, 30px);
    padding-left: clamp(5px, 0.29rem + 0.11vw, 6px);
  }

  transition: all 0.2s linear;

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px $colorAccent;
  }
}

.features__subtitle-span {
  max-width: 356px;
}

.subtitle_features-span {
  color: rgb(183, 177, 196);
  font-size: clamp(12px, 0.614rem + 0.68vw, 18px);
  font-weight: 300;
  line-height: 103%;
}

@media screen and (max-width: 1300px) {
  .features__row {
    display: grid;
    align-self: center;
  }

  .features__image {
    order: 1;
    justify-self: center;
  }

  .features__info {
    order: 2;
    justify-self: center;
    padding: unset;
  }
}