.header {
  // position: relative;

  background-image: url(/content/header/headerBg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-bottom: clamp(80px, 4.318rem + 3.41vw, 110px);

  &::after {
    // content: "";
    // background: linear-gradient(rgba(136, 84, 221, 0.3), rgba(120, 54, 228, 0.2));
    // position: absolute;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // width: 100%;
    // height: 100px;

    // z-index: 5;
  }
}

.header__row {
  display: flex;
  align-items: center;
  padding: clamp(15px, 0.597rem + 1.7vw, 30px) 0;

  color: $colorWhite;
  font-family: $nekst;
  font-size: 25px;
  font-weight: 400;
  line-height: 99%;
}

.header__logotype {
  margin-right: 155px;
}
.header__lang {
  display: flex;
  column-gap: 16px;
  margin-right: 196px;

  img {
    margin-top: 4px;
  }
}
.header__nav {
  margin-right: auto;
}
.header__list {
  display: flex;
  column-gap: 30px;
}

.header__link:hover {
  color: $colorAccent;
}

.header__button {
  display: flex;
  align-items: center;
  column-gap: 14px;

  img {
    margin-top: 4px;
  }

  svg {
    path {
      transition: stroke 0.2s linear;
    }
  }

  &:hover svg {
    path {
      stroke: $colorAccent;
    }
  }
}

.burder__button {
  display: none;
}
.burger-checkbox {
}
.burger {
}

@include mediaBigTablet {
  .header__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .header__lang {
    justify-self: end;
    margin-right: unset;
    order: 4;
  }

  .header__button {
    justify-self: end;
  }

  .header__logotype {
    margin-right: unset;
  }

  .header__nav {
    order: 2;
  }
}


@include mediaTablet {
  .header__nav {
    display: none;
  }

  .header__lang {
    display: none;
  }

  .header__button {
    display: none;
  }

  .burder__button {
    display: block;
    justify-self: end;
  }
}