.numbers {
  position: relative;
  padding-bottom: clamp(70px, 3.011rem + 6.82vw, 130px);
}
.numbers__text {
  margin-top: clamp(30px, 0.966rem + 4.55vw, 70px);
}
.numbers__title {
  margin-bottom: 21px;
}

.numbers__subtitle {
  margin-bottom: clamp(100px, 2.159rem + 20.45vw, 280px);
}

.numbers__span {
  color: #6e647d;
  font-size: 15px;
  font-weight: 400;
  line-height: 103%;
  letter-spacing: -4%;
  text-align: left;
}

.numbers__bg {
  position: absolute;
  left: 0;
  top: 240px;
  z-index: -1;
  transform: rotate(-180deg);
}

.numbers__list {
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 20px;
}
.numbers__item {
  border: 1px solid $colorAccent;
  border-radius: 40px;

  padding: 42px 30px;

  display: flex;
  flex-direction: column;
  row-gap: clamp(50px, 1.989rem + 5.68vw, 100px);
}
.numbers__traiders {
  font-size: clamp(60px, 3.295rem + 2.27vw, 80px);
  font-weight: 400;
  line-height: 93%;
}
.traiders__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 103%;
}
.numbers__deals {
  font-size: clamp(60px, 3.295rem + 2.27vw, 80px);
  font-weight: 400;
  line-height: 93%;
}
.deals__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 103%;
}

@include mediaTablet {
  .numbers__list {
    flex-direction: column;
    row-gap: 20px;

    margin-top: 30px;
  }
  .numbers__item {
    width: 100%;
  }
}
