.test {
  position: relative;
  padding: 160px 0 100px;
}
.test__bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.test__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.test__title {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  margin-bottom: clamp(70px, 0.284rem + 20.45vw, 250px);
}

.test__button {
  display: inline-flex;
  align-items: center;
  column-gap: 80px;

  border-radius: 70px;
  background: rgb(95, 41, 183);

  padding: clamp(18px, 0.989rem + 0.68vw, 24px);

  font-size: clamp(16px, 0.341rem + 3.3vw, 45px);
  font-weight: 400;
  line-height: 93%;

  transition: box-shadow 0.5s ease-out;

  &:hover {
    box-shadow: 0 0 10px $colorAccent;
  }
}

.test__button-circle {
  position: relative;

  width: 83px;
  height: 83px;
  border: 1px solid $colorWhite;
  border-radius: 50%;
  opacity: 0.5;
}

.test__button_arrow {
  position: absolute;

  opacity: 0;
  left: -50%;
  top: 50%;
  transform: translate(-40%, -50%);
}

.createCircleAnimation {
  animation: buttonCircle 0.5s ease-out forwards;
}

.createCircleAnimationReverse {
  animation: buttonCircleReverse 0.5s ease-out forwards;
}

.createArrowAnimation {
  animation: buttonArrow 0.5s ease-out forwards;
}

.createArrowAnimationReverse {
  animation: buttonArrowReverse 0.5s ease-out forwards;
}

@include mediaSemiTablet {
  .test__button-circle {
    display: none;
  }
}
