.trade {
  position: relative;

  padding-top: 60px;
  padding-bottom: 80px;

  &::before {
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 452%;
    box-shadow: 0px 0px 100px 200px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

.trade__title {
  padding-left: 20px;
  padding-top: 20px;

  margin-bottom: 170px;
}

.trade__subtitle {
  max-width: 350px;

  padding-left: 30px;

  margin-bottom: 100px;
}

.trade__button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trade__button {
  display: inline-flex;
  align-items: center;
  column-gap: 80px;

  border-radius: 70px;
  background: rgb(95, 41, 183);

  padding: 24px;

  font-size: 45px;
  font-weight: 400;
  line-height: 93%;

  transition: box-shadow 0.5s ease-out;

  &:hover {
    box-shadow: 0 0 10px $colorAccent;
  }
}

.trade__button-circle {
  position: relative;

  width: 83px;
  height: 83px;
  border: 1px solid $colorWhite;
  border-radius: 50%;
  opacity: 0.5;
}

.trade__button_arrow {
  position: absolute;

  opacity: 0;
  left: -50%;
  top: 50%;
  transform: translate(-40%, -50%);
}

.trade_bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.createCircleAnimation {
  animation: buttonCircle 0.5s ease-out forwards;
}

.createCircleAnimationReverse {
  animation: buttonCircleReverse 0.5s ease-out forwards;
}

.createArrowAnimation {
  animation: buttonArrow 0.5s ease-out forwards;
}

.createArrowAnimationReverse {
  animation: buttonArrowReverse 0.5s ease-out forwards;
}
