.work {
  padding: 40px 0 140px;

  box-shadow: 0 -10px 10px $colorAccent;
  border-radius: 40px 40px 0 0;
}
.container {
}
.work__title {
  position: relative;

  //   max-width: 1000px;
}

.work__substract {
  position: absolute;

  top: 0;
}
.title3 {
}
.title3_work {
}
