body {
  font-family: $nekst;
  color: $colorWhite;
  background-color: $colorBlack;
  font-size: 16px;
}

a {
  transition: color 0.2s linear;

  &:hover {
    // color: $fff;
  }
}

.default__cover {
  position: relative !important;

  display: flex;
  align-items: center;
  justify-content: space-between;

  // padding: 0 42px;
}

.default__title {
  margin-left: 42px;
}

.default__subtitle {
  margin-right: 42px;

  &_trade {
    margin-left: auto;
    margin-top: 20px;
  }
}

.default__substract {
  position: absolute;
  top: 0;
}

.card_title {
  margin-bottom: 38px;
}

.card_image {
  margin-bottom: 130px;
}

.card_ .overlay {
  &_video {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);

    visibility: hidden;
    opacity: 0;

    z-index: 9;
  }
}

.container {
  max-width: 1580px;
  padding: 0 15px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.title1 {
  font-size: 102px;
  font-weight: 400;
  line-height: 98%;
}

.title2 {
  background: linear-gradient(165.43deg, rgb(255, 255, 255), rgb(95, 41, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 130px;
  font-weight: 400;
  line-height: 93%;

  &_numbers {
    font-size: 250px;
    font-weight: 400;
    line-height: 93%;
  }

  &_trade {
    background: unset;
    -webkit-text-fill-color: unset;
  }
}

.title3 {
  font-size: 90px;
  font-weight: 400;

  &_partners {
    line-height: 65%;
  }

  &_work {
    background: linear-gradient(
      165.43deg,
      rgb(255, 255, 255),
      rgb(95, 41, 183)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    line-height: 103%;

    padding-left: 20px;
    padding-top: 20px;
  }

  &_test {
    background: linear-gradient(
      148.39deg,
      rgb(255, 255, 255),
      rgb(95, 41, 183)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 100px;
    font-weight: 400;
    line-height: 93%;
  }
}

.title4 {
  background: linear-gradient(163.61deg, rgb(255, 255, 255), rgb(95, 41, 183));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 70px;
  font-weight: 400;
  line-height: 113%;

  &_manage {
    text-align: center;
  }
}

.title5 {
  &_default {
    font-size: 60px;
    font-weight: 400;
    line-height: 93%;
  }
}

.title6 {
  font-size: 34px;
  font-weight: 400;
  line-height: 93%;
}

.subtitle {
  &_info {
    font-size: 30px;
    font-weight: 400;
    line-height: 113%;

    span {
      background-color: $colorAccent;
      border-radius: 10px;
      padding: 0 5px;
    }
  }

  &_default {
    color: rgb(145, 145, 145);
    font-size: 15px;
    font-weight: 400;
    line-height: 103%;
  }

  &_numbers {
    font-size: 40px;
    font-weight: 400;
    line-height: 103%;
  }

  &_features {
    font-size: 35px;
    font-weight: 400;
    line-height: 108%;
    color: $colorWhite;
    span {
      color: rgb(123, 112, 141);
    }
  }

  &_partners {
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    opacity: 0.5;
  }

  &_work {
    color: rgb(183, 177, 196);
    font-size: 16px;
    font-weight: 300;
    line-height: 125%;
  }

  &_trade {
    font-size: 30px;
    font-weight: 400;
    line-height: 120%;
  }
}
