/*FONTS*/

$nekst: 'Nekst', serif;

/*FONTS*/

/*COLORS*/

$colorBlack: #000000;
$colorWhite: #ffffff;
$colorAccent: rgb(136, 84, 221);

/*COLORS*/

/*MEDIA*/

$tablet: 1000px;
$semiTablet: 630px;
$phone: 320px;

/*MEDIA*/